<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1Bt2JleZFiL1PvJq_s-QgS77B31ENFK4</string>
	<key>GCM_SENDER_ID</key>
	<string>248699077106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseApp</string>
	<key>PROJECT_ID</key>
	<string>expense-app-9b9cf</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-app-9b9cf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248699077106:ios:c1477445cddab7675eab6b</string>
</dict>
</plist>